<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teacher</key>
	<array>
		<dict>
			<key>firstName</key>
			<string>John</string>
			<key>lastName</key>
			<string>Clem</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Brad</string>
			<key>lastName</key>
			<string>Johnson</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Lindy</string>
			<key>lastName</key>
			<string></string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Brook</string>
			<key>lastName</key>
			<string>Riggio</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Will</string>
			<key>lastName</key>
			<string></string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Kristin</string>
			<key>lastName</key>
			<string>Smith</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Carly</string>
			<key>lastName</key>
			<string>Slater</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
	</array>
	<key>Student</key>
	<array>
		<dict>
			<key>firstName</key>
			<string>Michael</string>
			<key>lastName</key>
			<string>Babiy</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Cole</string>
			<key>lastName</key>
			<string>Bratcher</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Christopher</string>
			<key>lastName</key>
			<string>Cohan</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Dan</string>
			<key>lastName</key>
			<string>Fairbanks</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Lauren</string>
			<key>lastName</key>
			<string>Lee</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Sean</string>
			<key>lastName</key>
			<string>Mcneil</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Taylor</string>
			<key>lastName</key>
			<string>Potter</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Brian</string>
			<key>lastName</key>
			<string>Radebaugh</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Anton</string>
			<key>lastName</key>
			<string>Rivera</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Reed</string>
			<key>lastName</key>
			<string>Sweeney</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Ryo</string>
			<key>lastName</key>
			<string>Tulman</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
		<dict>
			<key>firstName</key>
			<string>Matthew</string>
			<key>lastName</key>
			<string>Voss</string>
			<key>imagePath</key>
			<string></string>
			<key>twitter</key>
			<string></string>
			<key>github</key>
			<string></string>
            <key>r</key>
            <real>0.0</real>
            <key>g</key>
            <real>0.0</real>
            <key>b</key>
            <real>0.0</real>
		</dict>
	</array>
</dict>
</plist>
