<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teacher</key>
	<array>
		<dict>
			<key>fullName</key>
			<string>John Clem</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Brad Johnson</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Lindy</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Brook Riggio</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Will</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Kristin Smith</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Carly Slater</string>
			<key>imagePath</key>
			<string></string>
		</dict>
	</array>
	<key>Student</key>
	<array>
		<dict>
			<key>fullName</key>
			<string>Michael Babiy</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Cole Bratcher</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Christopher Cohan</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Dan Fairbanks</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Lauren Lee</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Sean Mcneil</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Taylor Potter</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Brian Radebaugh</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Anton Rivera</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Reed Sweeney</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Ryo Tulman</string>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>fullName</key>
			<string>Matthew Voss</string>
			<key>imagePath</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
